body{
font-family: Arial, sans-serif;
margin:0;
padding:0;
}

h2{
background:#7eaee9;
color:white;
padding:15px;
margin:0;
text-align: center;
}

#controls{
background:#b4ceee;
padding:15px;
display:flex;
justify-content: center;
align-items: center;
gap: 10px;
color: white;
}

input{
    padding:6px;
    border-radius: 4px;
    border: none;
}

button{
    background: rgb(74, 148, 233);
    color: black;
    border:none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background:rgb(40, 114, 199)
}

#map{
height:650px;
width:100%;
}